
@{
    ViewData["Title"] = "AdminActions";
}

<h1>Admin Actions</h1>
<div>
    <a asp-action="NewLocation" class="btn btn-primary">Open a new Location</a>
    <a asp-action="SortOrderHistory" class="btn btn-primary">View Location Order History</a>
    <a asp-action="ViewInventory" class="btn btn-primary">View Location Inventory</a>
    <a asp-action="RestockedInventory" class="btn btn-primary">Restock Location Inventory</a>
    <a asp-action="AddTopping" class="btn btn-primary">Add A Topping to Location Menu</a>
    <a asp-action="RemoveTopping" class="btn btn-primary">Remove A Topping from Location Menu</a>
    <a asp-action="SearchUsers" class="btn btn-primary">Search Users By Name</a>
</div>
<div>
    <a asp-action="Options" class="btn btn-primary">Back to Options</a>
</div>

