@model PizzaShop.Library.LocationClass

@{
    ViewData["Title"] = "DefaultLocation";
}

<h1>Do You Want to Place This Order to Your Default Location?</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a asp-controller="Home" asp-action="PlaceOrder" class="btn btn-primary">Use Default Location</a>
</div>
<div class="form-group">
    <a asp-controller="Home" asp-action="Location" class="btn btn-primary">Choose Location</a>
</div>

