
@{
    ViewData["Title"] = "MaximumPrice";
}

<h1>Sorry, the total price of your order may not exceed $500.00</h1>
<div class="form-group">
    <a asp-controller="Home" asp-action="PlaceOrder" class="btn btn-primary">Go Back to Order</a>
</div>

