
@{
    ViewData["Title"] = "MaximumPrice";
}

<h1>Sorry, the total price of your order may not exceed $500.00</h1>
<div class="form-group">
    <a asp-controller="Home" asp-action="Go Back To Order">Okay, Place my order</a>
</div>

