
@{
    ViewData["Title"] = "OrderIsFull";
}

<h1>Sorry, You can only order up to 12 pizzas.</h1>
<div class="form-group">
    <a asp-controller="Home" asp-action="PlaceOrder" class="btn btn-primary">Go Back to Order</a>
</div>

