
@{
    ViewData["Title"] = "SortOrderHistory";
}

<h1>Sort Order History By:</h1>
<a asp-action="SortUserHistoryByEarliest" class="btn btn-primary">Earliest</a>
<a asp-action="SortUserHistoryByLatest" class="btn btn-primary">Latest</a>
<a asp-action="SortUserHistoryByCheapest" class="btn btn-primary">Cheapest</a>
<a asp-action="SortUserHistoryByMostExpensive" class="btn btn-primary">Most Expensive</a>

