
@{
    ViewData["Title"] = "SortOrderHistory";
}

<h1>Sort Order History By:</h1>
<a asp-action="SortOrderHistoryByEarliest" class="btn btn-primary">Earliest</a>
<a asp-action="SortOrderHistoryByLatest" class="btn btn-primary">Latest</a>
<a asp-action="SortOrderHistoryByCheapest" class="btn btn-primary">Cheapest</a>
<a asp-action="SortOrderHistoryByMostExpensive" class="btn btn-primary">Most Expensive</a>

