# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

steps:
- script: |
  cd PizzaShop
  dotnet build --configuration $(buildConfiguration)
- displayName: 'dotnet build $(buildConfiguration)'
- script: |
  cd PizzaShop
  dotnet test --configuration $(buildConfiguration)
- displayName: 'dotnet test $(buildConfiguration)'
- script: |
  cd PizzaShop
  dotnet publish PizzaShop.UI --configuration $(buildConfiguration) -o ./publish
- displayName: 'dotnet publish $(buildConfiguration)'
